{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="page-content bg-white">
        <div class="owl-slider owl-carousel owl-theme owl-btn-center-lr dots-none">
		{% for slide in sliders %}
			<div class="item slide-item">
				<div class="slide-item-img">
					<img src="{{ vich_uploader_asset(slide, 'imageFile') }}" alt="" class=""/>
				</div>
				<div class="slide-content">
					<div class="slide-content-box container">
						<div class="slide-content-area">
							{% set words = slide.titre|split(' ') %}
							{% set last_word = words|last %}
							{% set first_part = words|slice(0, words|length - 1)|join(' ') %}

							<h2 class="slider-title">{{ first_part }} <span>{{ last_word }}</span></h2>

							<p>{{ slide.description }}</p>
							<a href="contect-us.html" class="btn btn-md kids-btn radius-xl">Join us</a>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="content-block">
            <div class="section-full bg-white content-inner-1 text-center">
                <div class="container">
					<div class="section-head">
						<h2 class="head-title text-secondry">{{ 'welcome'|trans }}</h2>
						<p>{{ 'welcome1'|trans }}</p>
					</div>
					<div class="row">
						{% for com in comercials%}
						<div class="col-lg-3 col-md-6 col-sm-6 col-12 wow fadeIn" data-wow-delay="0.2s"  data-wow-duration="2s">
							<div class="icon-bx-wraper sr-iconbox m-b20">
								<div class="icon-lg m-b20">
									<a href="javascript:void(0);" class="icon-cell"><img src="{{ asset('images/icon/' ~ com.pictures) }}" alt=""/></a>
								</div>
								<div class="icon-content">
									<h6 class="dlab-tilte">{{ com.name }}</h6>
								</div>
							</div>
						</div>
						{% endfor %}	
					</div>
				</div>
            </div>
			<div class="section-full bg-white content-inner-2 about-box" style="background-image:url(/images/line.png); background-size:contain;background-repeat: no-repeat;background-position: center;">
                <div class="container">
					<div class="row">
						<div class="col-lg-7 col-md-12 col-sm-12 col-12 wow fadeIn" data-wow-delay="0.2s"  data-wow-duration="2s">
							<div class="section-head">
								<h2 class="head-title text-secondry">
									{% set texte = 'inteligent'|trans %}
									{% set mots = texte|split(" ") %}
									{% set result = "" %}
									{% for mot in mots %}
										{% set result = result ~ mot ~ " " %}
										{% if loop.index % 3 == 0 %}
											{% set result = result ~ "<br>" %}
										{% endif %}
									{% endfor %}
									{{ result|raw }}
								</h2>
								<p>{{ 'inteligent-p'|trans }}</p>
								<a href="faqs.html" class="btn btn-md kids-btn radius-xl">Learn more</a>
							</div>
						</div>
						<div class="col-lg-5 col-md-12 col-sm-12 col-12">
							<div class="icon-bx-wraper left">
								<div class="icon-lg m-b20"> <span class="icon-cell text-blue"><i class="flaticon-rattle"></i></span> </div>
								<div class="icon-content">
									<h2 class="dlab-tilte">{{ 'ecole'|trans }}</h2>
									<p>{{ 'ecole1'|trans }}</p>
								</div>
							</div>
							<div class="icon-bx-wraper left">
								<div class="icon-lg m-b20"> <span class="icon-cell text-green"><i class="flaticon-bricks"></i></span> </div>
								<div class="icon-content">
									<h2 class="dlab-tilte">{{ 'cours'|trans }}</h2>
									<p>{{ 'cours1'|trans }}</p>
								</div>
							</div>
							<div class="icon-bx-wraper left">
								<div class="icon-lg m-b20"> <span class="icon-cell text-orange"><i class="flaticon-puzzle"></i></span> </div>
								<div class="icon-content">
									<h2 class="dlab-tilte">{{ 'boutique'|trans }}</h2>
									<p>{{ 'boutique1'|trans }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
			{% for item in paralaxs %}
			<div class="section-full bg-white content-inner-2 about-content bg-img-fix" style="background-image:url({{ vich_uploader_asset(item, 'imageFile') }});">
				<div class="about-overlay-box"></div>
                <div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-12 col-sm-12 col-12 wow fadeIn" data-wow-delay="0.2s"  data-wow-duration="2s">
							<div class="section-head">
								
								<h2 class="head-title text-yellow">{{ item.titre}}</h2>
								<p class="text-white">{{ item.description}}</p>
								
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-12"></div>
					</div>
				</div>
            </div>
			{% endfor %}
			<div class="section-full bg-white content-inner-1" style="background-image:url(images/line2.png); background-size:contain;background-repeat: no-repeat;background-position: center;">
                <div class="container">
					<div class="section-head text-center">
						<h2 class="head-title text-secondry"><p>{{ 'about_the_teachers'|trans }}</p></h2>
						<p>{{ 'about_the_teachers_paragraf'|trans }}</p>
					</div>
					{% include 'partials/mignature/teachers.html.twig' %}
				</div>
            </div>
			<div class="section-full bg-white content-inner-1">
                <div class="container">
					<div class="section-head text-center">
						<h2 class="head-title text-secondry">{{ 'testimonials_about_center'|trans }}</h2>
						<p>{{ 'testimonials_about_center_p'|trans }}</p>
					</div>
					<div class="client-carousel owl-carousel owl-theme sprite-nav">
						{% for testimonial in testimonials %}
						<div class="item">
							<div class="client-box">
								<div class="testimonial-detail clearfix">
									<div class="testimonial-pic radius">
										<img src="{{ vich_uploader_asset(testimonial, 'imageFile') }}" width="100" height="100" alt="">
									</div>
									<h5 class="testimonial-name m-t0 m-b5">{{ testimonial.relation.email }}</h5>  
								</div>
								<div class="testimonial-text">
									<p>{{ testimonial.text }}</p>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
            </div>
			{% include 'partials/mignature/blog.html.twig' %}
		</div>
    </div>
	<!-- Content END-->
{% endblock %}
