{% extends 'base.html.twig' %}

{% block title %}Reset your password
{% endblock %}

{% block body %}
	<div class="page-content">
		{% include 'partials/mignature/breadcrumb.html.twig' %}
		<div class="content-block">
			<div class="section-full content-inner-2">
				<div class="container">

					<div class="row contact-box">
						<div class="section-head text-center col-md-12">
							<h2 class="text-secondry">Registration</h2>
						</div>

						{{ form_start(requestForm, {attr: {"class":"dzForm col-md-12"}}) }}
						{% for flash_error in app.flashes('reset_password_error') %}
							<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
						{% endfor %}

						<input type="hidden" value="Contact" name="dzToDo">
						<div class="row">
							<div class="col-md-3 col-sm-3"></div>
							<div class="col-md-6 col-sm-3">
								<div class="form-group">
									{{ form_widget(requestForm.email) }}
								</div>
							</div>
							<div class="col-md-3 col-sm-3"></div>
						</div>
						<div class="row">
							<div class="col-md-3 col-sm-3"></div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<small>
										Enter your email address, and we will send you a
										                link to reset your password.
									</small>
								</div>
							</div>
							<div class="col-md-3 col-sm-3"></div>
						</div>
						<div class="col-md-12 col-sm-12 text-center">
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<button name="submit" type="submit" value="Submit" class="btn radius-xl btn-lg">Sign in<span></span>
							</button>
						</div>
					</div>
					{{ form_end(requestForm) }}

				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
